<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <meta property="og:title"       content="Fizz Mains Club">
  <meta property="og:description" content="ðŸŸ ðŸŸ ðŸŸ">
  <meta property="og:image"       content="/img/icon.png">
</head>
<body>
  <div><%= error %></div>
</body>
</html>
