<!DOCTYPE html>
<html>
<head>
  <title>Fizz Club</title>
  <meta property="og:title"       content="Fizz Mains Club">
  <meta property="og:description" content="ðŸŸ ðŸŸ ðŸŸ">
  <meta property="og:image"       content="/img/icon.png">
  <link rel="shortcut icon"       href="/img/icon.png">
  <link rel="stylesheet"          href="/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery-animate-shadow-min.js"></script>
  <script src="/js/jsc.js"></script>
  <script src="/js/index.js"></script>
</head>
<body>
  <div>
    <table style="margin: 0 auto; margin-top: 24px; text-align: center;">
      <tr>
        <th>Active Members: <%= active %></th>
      </tr>
      <% for(var i of users){ %>
        <tr>
          <td><%= i["summonerName"] %></td>
        </tr>
      <% } %>
    </table>
  </div>
</body>
</html>
